.inputbox{
	    margin: 1rem;
		margin-bottom:0.5rem;
    width: 18rem;
    font-size: medium;
    font-family: sans-serif;
    padding: 0.2rem;
}
.resetbtn{
	    border: 1px solid;
    padding: 0.3rem;
    margin: inherit;
    background: #a0c9c1;
    font-family: sans-serif;
	    width: 5rem;
}
.registerbtn{
	    border: 1px solid;
    padding: 0.3rem;
    margin: inherit;
    background: #eec1a0;
    font-family: sans-serif;
	    width: 5rem;
}